pipeline/pl_build_merch_catalog_omt_syn_srch.json
{
	"name": "pl_build_merch_catalog_omt_syn_srch",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-merch-catalog-omt-syn-srch-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_MERCH_FLDR_PATH",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ingest-merch-catalog-omt-syn-srch",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-merch-catalog-omt-syn-srch-path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp-ext-start-time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@if(pipeline().parameters.PARAM_IS_DELTA,\nconcat('SELECT syn_srch_id, \n              prim_tx, \n              syn_tx, \n              audt_cr_dt_tm, \n              audt_cr_user_cd, \n              audt_upd_dt_tm, \n              audt_upd_user_cd \n       FROM catalog_prod.omt_syn_srch\n       WHERE (audt_cr_dt_tm >= ''',formatDateTime(activity('lkp-ext-start-time').output.firstRow.Prop_0,'MM-dd-yyyy'),'''',' OR ',\n            'audt_upd_dt_tm >= ''',formatDateTime(activity('lkp-ext-start-time').output.firstRow.Prop_0,'MM-dd-yyyy'),''')'),\n       'SELECT syn_srch_id, \n              prim_tx, \n              syn_tx, \n              audt_cr_dt_tm, \n              audt_cr_user_cd, \n              audt_upd_dt_tm, \n              audt_upd_user_cd\n       FROM catalog_prod.omt_syn_srch')\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "syn_srch_id",
									"type": "Int64"
								},
								"sink": {
									"name": "syn_srch_id",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "prim_tx",
									"type": "String"
								},
								"sink": {
									"name": "prim_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "syn_tx",
									"type": "String"
								},
								"sink": {
									"name": "syn_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_cr_user_cd",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_user_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_upd_user_cd",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_user_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_mysql_merch_prod_catalog_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_MYSQL_DB_NM": {
								"value": "@pipeline().parameters.PARAM_MYSQL_DB_NM",
								"type": "Expression"
							},
							"PARAM_MYSQL_TB_NM": {
								"value": "@pipeline().parameters.PARAM_MYSQL_TB_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_INGST_FLDR_PATH": {
								"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "update-btch-cntrl",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "record-count-checkpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_update_btch_cntrl_fl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"START_TIME": {
							"value": "@convertFromUtc(activity('ingest-merch-catalog-omt-syn-srch').ExecutionStartTime,'Central Standard Time')",
							"type": "Expression"
						},
						"END_TIME": {
							"value": "@convertFromUtc(activity('ingest-merch-catalog-omt-syn-srch').ExecutionEndTime,'Central Standard Time')",
							"type": "Expression"
						},
						"RECORD_COUNT": {
							"value": "@activity('ingest-merch-catalog-omt-syn-srch').output.rowsCopied",
							"type": "Expression"
						},
						"STATUS": {
							"value": "@activity('ingest-merch-catalog-omt-syn-srch').status",
							"type": "Expression"
						},
						"PARAM_OPCO": {
							"value": "@toLower(pipeline().parameters.PARAM_OPCO)",
							"type": "Expression"
						},
						"PARAM_DOMAIN": {
							"value": "@pipeline().parameters.PARAM_DOMAIN",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp-ext-start-time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_az_adls_cntrl_fl_latest",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_OPCO": {
								"value": "@pipeline().parameters.PARAM_OPCO",
								"type": "Expression"
							},
							"PARAM_DOMAIN": {
								"value": "@pipeline().parameters.PARAM_DOMAIN",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "record-count-checkpoint",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingest-merch-catalog-omt-syn-srch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest-merch-catalog-omt-syn-srch').output.rowsCopied,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "mdm-merch-catalog-omt-syn-srch",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_mdm_merch_ctlg_omt_syn_srch",
									"type": "NotebookReference"
								},
								"parameters": {
									"BASE_ADLS_CONN_STR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
											"type": "Expression"
										},
										"type": "string"
									},
									"KEY_COL": {
										"value": {
											"value": "@pipeline().parameters.PARAM_KEY_COL",
											"type": "Expression"
										},
										"type": "string"
									},
									"IS_DELTA": {
										"value": {
											"value": "@pipeline().parameters.PARAM_IS_DELTA",
											"type": "Expression"
										},
										"type": "bool"
									},
									"SOURCE_LAKE_RELATIVE_PATH": {
										"value": {
											"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "synsppdlinte201",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_MYSQL_DB_NM": {
				"type": "string",
				"defaultValue": "catalog_prod"
			},
			"PARAM_MYSQL_TB_NM": {
				"type": "string",
				"defaultValue": "omt_syn_srch"
			},
			"PARAM_IS_DELTA": {
				"type": "bool",
				"defaultValue": false
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "syn_srch_id"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "merch/catalog/omt-syn-srch"
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"VAR_INGST_MERCH_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/merch/catalog/omt-syn-srch/lake/"
			}
		},
		"folder": {
			"name": "domain/merchandise/catalog"
		},
		"annotations": []
	}
}