pipeline/pl_build_merch_cntrl_pit_pod_grp.json
{
	"name": "pl_build_merch_cntrl_pit_pod_grp",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-cntrl-pit-pod-grp-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_MERCH_FLDR_PATH",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ingest-cntrl-pit-pod-grp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-cntrl-pit-pod-grp-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "SELECT  s.pod_id, \n        s.pod_grp_id,\n        g.grp_tx,\n        g.prim_dict_tx,\n        g.grp_type_cd,\n        g.actv_cd,\n        g.adv_id,\n        g.page_file_tx \n        FROM central:pit_pod_grp g, central:pit_grp_sku s \n        WHERE g.pod_grp_id = s.pod_grp_id",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "pod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "pod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pod_grp_id",
									"type": "Int32"
								},
								"sink": {
									"name": "pod_grp_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "grp_tx",
									"type": "String"
								},
								"sink": {
									"name": "grp_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "prim_dict_tx",
									"type": "String"
								},
								"sink": {
									"name": "prim_dict_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "grp_type_cd",
									"type": "String"
								},
								"sink": {
									"name": "grp_type_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "adv_id",
									"type": "Int32"
								},
								"sink": {
									"name": "adv_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "page_file_tx",
									"type": "String"
								},
								"sink": {
									"name": "page_file_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_infomix_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"IFX_TBL_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TB_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_INGST_FLDR_PATH": {
								"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "record-count-checkpoint",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingest-cntrl-pit-pod-grp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest-cntrl-pit-pod-grp').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "mdm-merch-cntrl-pit-pod-grp",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_mdm_merch_cntrl_pit_pod_grp",
									"type": "NotebookReference"
								},
								"parameters": {
									"BASE_ADLS_CONN_STR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
											"type": "Expression"
										},
										"type": "string"
									},
									"SOURCE_LAKE_RELATIVE_PATH": {
										"value": {
											"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
											"type": "Expression"
										},
										"type": "string"
									},
									"KEY_COL": {
										"value": {
											"value": "@pipeline().parameters.PARAM_KEY_COL",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARAM_VAL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									},
									"NO_OF_PARTITIONS": {
										"value": {
											"value": "@pipeline().parameters.PARAM_NO_OF_PARTITIONS",
											"type": "Expression"
										},
										"type": "int"
									},
									"IS_DELTA": {
										"value": {
											"value": "@pipeline().parameters.PARAM_IS_DELTA",
											"type": "Expression"
										},
										"type": "bool"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "synsppdlinte201",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "central"
			},
			"PARAM_IFX_TB_NM": {
				"type": "string",
				"defaultValue": "pit_pod_grp"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "merch/product/central-pit-pod-grp"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "pod_id"
			},
			"PARAM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 5
			},
			"PARAM_NO_OF_PARTITIONS": {
				"type": "int",
				"defaultValue": 25
			},
			"PARAM_IS_DELTA": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"VAR_INGST_MERCH_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/merch/product/central-pit-pod-grp/lake/"
			}
		},
		"folder": {
			"name": "domain/merchandise/product"
		},
		"annotations": []
	}
}