pipeline/pl_build_merch_cnt_cpt_it_pkg.json
{
	"name": "pl_build_merch_cnt_cpt_it_pkg",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-content-cpt-it-pkg-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_MERCH_FLDR_PATH",
					"value": {
						"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lkp-ext-start-time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_az_adls_cntrl_fl_latest",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_OPCO": {
								"value": "@pipeline().parameters.PARAM_OPCO",
								"type": "Expression"
							},
							"PARAM_DOMAIN": {
								"value": "@pipeline().parameters.PARAM_DOMAIN",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ingest-merch-content-cpt-it-pkg",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-content-cpt-it-pkg-path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp-ext-start-time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.8:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "@if(pipeline().parameters.PARAM_IS_DELTA,\nconcat('SELECT  prod_id,\n                wght_qy,\n                wdth_qy,\n                warn_bx,\n                uom_cd,\n                sugr_free_cd,\n                sub_cat_tx,\n                src_cd,\n                prod_dtl_bx,\n                prod_desc_bx,\n                ppod_sell_bx,\n                pnut_hold_fl,\n                pnut_fl,\n                parv_cd,\n                orgn_cd,\n                mfg_phon_cd,\n                mfg_name_tx,\n                mfg_adr_bx,\n                low_fat_cd,\n                kshr_4_id,\n                kshr_3_id,\n                kshr_2_id,\n                kshr_1_id,\n                it_size_cd,\n                innr_pack_qy,\n                ingr_bx,\n                indc_bx,\n                hght_qy,\n                gltn_hold_fl,\n                gltn_fl,\n                fat_free_cd,\n                egg_hold_fl,\n                egg_fl,\n                drug_intc_bx,\n                drct_bx,\n                dpth_qy,\n                dept_tx,\n                dary_hold_fl,\n                dary_fl,\n                ctry_of_orig_bx,\n                cprt_tx,\n                cntr_type_cd,\n                cat_tx,\n                case_pack_qy,\n                brnd_tx,\n                audt_upd_id,\n                audt_cr_id,\n            TO_CHAR(audt_cr_dt, \"%Y-%m-%d\") as audt_cr_dt,\n            TO_CHAR(audt_upd_dt, \"%Y-%m-%d\") as audt_upd_dt\n        FROM content:cpt_it_pkg\n        WHERE (audt_cr_dt >= ''',formatDateTime(formatDateTime(activity('lkp-ext-start-time').output.firstRow.Prop_0,'MM-dd-yyyy'),'MM-dd-yyyy'),'''',' OR ',\n            'audt_upd_dt >= ''',formatDateTime(activity('lkp-ext-start-time').output.firstRow.Prop_0,'MM-dd-yyyy'),''')'),\n            'SELECT  prod_id,\n                wght_qy,\n                wdth_qy,\n                warn_bx,\n                uom_cd,\n                sugr_free_cd,\n                sub_cat_tx,\n                src_cd,\n                prod_dtl_bx,\n                prod_desc_bx,\n                ppod_sell_bx,\n                pnut_hold_fl,\n                pnut_fl,\n                parv_cd,\n                orgn_cd,\n                mfg_phon_cd,\n                mfg_name_tx,\n                mfg_adr_bx,\n                low_fat_cd,\n                kshr_4_id,\n                kshr_3_id,\n                kshr_2_id,\n                kshr_1_id,\n                it_size_cd,\n                innr_pack_qy,\n                ingr_bx,\n                indc_bx,\n                hght_qy,\n                gltn_hold_fl,\n                gltn_fl,\n                fat_free_cd,\n                egg_hold_fl,\n                egg_fl,\n                drug_intc_bx,\n                drct_bx,\n                dpth_qy,\n                dept_tx,\n                dary_hold_fl,\n                dary_fl,\n                ctry_of_orig_bx,\n                cprt_tx,\n                cntr_type_cd,\n                cat_tx,\n                case_pack_qy,\n                brnd_tx,\n                audt_upd_id,\n                audt_cr_id,\n            TO_CHAR(audt_cr_dt, \"%Y-%m-%d\") as audt_cr_dt,\n            TO_CHAR(audt_upd_dt, \"%Y-%m-%d\") as audt_upd_dt\n        FROM content:cpt_it_pkg')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "wght_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "wght_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "wdth_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "wdth_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "warn_bx",
									"type": "String"
								},
								"sink": {
									"name": "warn_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "uom_cd",
									"type": "String"
								},
								"sink": {
									"name": "uom_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "sugr_free_cd",
									"type": "String"
								},
								"sink": {
									"name": "sugr_free_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "sub_cat_tx",
									"type": "String"
								},
								"sink": {
									"name": "sub_cat_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "src_cd",
									"type": "String"
								},
								"sink": {
									"name": "src_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "prod_dtl_bx",
									"type": "String"
								},
								"sink": {
									"name": "prod_dtl_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "prod_desc_bx",
									"type": "String"
								},
								"sink": {
									"name": "prod_desc_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ppod_sell_bx",
									"type": "String"
								},
								"sink": {
									"name": "ppod_sell_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pnut_hold_fl",
									"type": "String"
								},
								"sink": {
									"name": "pnut_hold_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pnut_fl",
									"type": "String"
								},
								"sink": {
									"name": "pnut_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "parv_cd",
									"type": "String"
								},
								"sink": {
									"name": "parv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "orgn_cd",
									"type": "String"
								},
								"sink": {
									"name": "orgn_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mfg_phon_cd",
									"type": "String"
								},
								"sink": {
									"name": "mfg_phon_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mfg_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "mfg_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mfg_adr_bx",
									"type": "String"
								},
								"sink": {
									"name": "mfg_adr_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "low_fat_cd",
									"type": "String"
								},
								"sink": {
									"name": "low_fat_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "kshr_4_id",
									"type": "Int16"
								},
								"sink": {
									"name": "kshr_4_id",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "kshr_3_id",
									"type": "Int16"
								},
								"sink": {
									"name": "kshr_3_id",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "kshr_2_id",
									"type": "Int16"
								},
								"sink": {
									"name": "kshr_2_id",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "kshr_1_id",
									"type": "Int16"
								},
								"sink": {
									"name": "kshr_1_id",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "it_size_cd",
									"type": "String"
								},
								"sink": {
									"name": "it_size_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "innr_pack_qy",
									"type": "Int32"
								},
								"sink": {
									"name": "innr_pack_qy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ingr_bx",
									"type": "String"
								},
								"sink": {
									"name": "ingr_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "indc_bx",
									"type": "String"
								},
								"sink": {
									"name": "indc_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "hght_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "hght_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "gltn_hold_fl",
									"type": "String"
								},
								"sink": {
									"name": "gltn_hold_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "gltn_fl",
									"type": "String"
								},
								"sink": {
									"name": "gltn_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fat_free_cd",
									"type": "String"
								},
								"sink": {
									"name": "fat_free_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "egg_hold_fl",
									"type": "String"
								},
								"sink": {
									"name": "egg_hold_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "egg_fl",
									"type": "String"
								},
								"sink": {
									"name": "egg_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "drug_intc_bx",
									"type": "String"
								},
								"sink": {
									"name": "drug_intc_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "drct_bx",
									"type": "String"
								},
								"sink": {
									"name": "drct_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dpth_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "dpth_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "dept_tx",
									"type": "String"
								},
								"sink": {
									"name": "dept_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dary_hold_fl",
									"type": "String"
								},
								"sink": {
									"name": "dary_hold_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dary_fl",
									"type": "String"
								},
								"sink": {
									"name": "dary_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ctry_of_orig_bx",
									"type": "String"
								},
								"sink": {
									"name": "ctry_of_orig_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cprt_tx",
									"type": "String"
								},
								"sink": {
									"name": "cprt_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cntr_type_cd",
									"type": "String"
								},
								"sink": {
									"name": "cntr_type_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cat_tx",
									"type": "String"
								},
								"sink": {
									"name": "cat_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "case_pack_qy",
									"type": "Int32"
								},
								"sink": {
									"name": "case_pack_qy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "brnd_tx",
									"type": "String"
								},
								"sink": {
									"name": "brnd_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_dt",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_dt",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_dt",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_ifx_merch_domain_content_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"PARAM_IFX_TB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TB_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_content_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_CONTENT_LAKE_PATH": {
								"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "record-count-checkpoint",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingest-merch-content-cpt-it-pkg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest-merch-content-cpt-it-pkg').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "mdm-merch-cpt-it-pkg",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_mdm_merch_cnt_cpt_it_pkg",
									"type": "NotebookReference"
								},
								"parameters": {
									"SOURCE_LAKE_RELATIVE_PATH": {
										"value": {
											"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
											"type": "Expression"
										},
										"type": "string"
									},
									"BASE_ADLS_CONN_STR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
											"type": "Expression"
										},
										"type": "string"
									},
									"KEY_COL": {
										"value": {
											"value": "@pipeline().parameters.PARAM_KEY_COL",
											"type": "Expression"
										},
										"type": "string"
									},
									"IS_DELTA": {
										"value": {
											"value": "@pipeline().parameters.PARAM_IS_DELTA",
											"type": "Expression"
										},
										"type": "bool"
									},
									"VAL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "synsppdlinte201",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "update-btch-cntrl",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "record-count-checkpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_update_btch_cntrl_fl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"START_TIME": {
							"value": "@convertFromUtc(activity('ingest-merch-content-cpt-it-pkg').ExecutionStartTime,'Central Standard Time')",
							"type": "Expression"
						},
						"END_TIME": {
							"value": "@convertFromUtc(activity('ingest-merch-content-cpt-it-pkg').ExecutionEndTime,'Central Standard Time')",
							"type": "Expression"
						},
						"RECORD_COUNT": {
							"value": "@activity('ingest-merch-content-cpt-it-pkg').output.rowsCopied",
							"type": "Expression"
						},
						"STATUS": {
							"value": "@activity('ingest-merch-content-cpt-it-pkg').status",
							"type": "Expression"
						},
						"PARAM_OPCO": {
							"value": "@toLower(pipeline().parameters.PARAM_OPCO)",
							"type": "Expression"
						},
						"PARAM_DOMAIN": {
							"value": "@pipeline().parameters.PARAM_DOMAIN",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "content"
			},
			"PARAM_IFX_TB_NM": {
				"type": "string",
				"defaultValue": "cpt_it_pkg"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "merch/content/content-cpt-it-pkg"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "prod_id"
			},
			"PARAM_IS_DELTA": {
				"type": "bool",
				"defaultValue": false
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"VAR_INGST_MERCH_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/merch/content/cpt-it-pkg/lake/"
			}
		},
		"folder": {
			"name": "domain/merchandise/content"
		},
		"annotations": []
	}
}