pipeline/pl_build_store_order_init.json
{
	"name": "pl_build_store_order_init",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGST_FLDR_PATH",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/order/store-order/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'HH-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mdm-source-store-order",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ext-store-order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_store_order",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_LAKE_STORE_ORDER_PATH": {
							"value": {
								"value": "@variables('INGST_FLDR_PATH')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_STORE_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/stage/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_STORE_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/stage/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_STORE_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/stage/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_STORE_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_CUSTOMER_LYLTY_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/customer/user/stage/loyalty-card/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_CUSTOMER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/customer/user/master/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "mdm-store-order-header",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "mdm-source-store-order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.3:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_store_order_header",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_STORE_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/stage/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_STORE_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_STORE_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/master/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "mdm-store-order-item",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "mdm-store-order-header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.3:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_store_order_item",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_STORE_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/stage/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_STORE_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_STORE_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/store-order/master/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "ext-store-order",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_extract_store_order_init",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"START_DT": {
							"value": "@pipeline().parameters.PARAM_START_DT",
							"type": "Expression"
						},
						"END_DT": {
							"value": "@pipeline().parameters.PARAM_END_DT",
							"type": "Expression"
						},
						"OPCO": {
							"value": "@pipeline().parameters.PARAM_OPCO",
							"type": "Expression"
						},
						"INGST_FLDR_PATH": {
							"value": "@variables('INGST_FLDR_PATH')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "FDLN"
			},
			"PARAM_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "order/store-order"
			},
			"PARAM_START_DT": {
				"type": "string",
				"defaultValue": "2023-03-01"
			},
			"PARAM_END_DT": {
				"type": "string",
				"defaultValue": "2023-03-31"
			}
		},
		"variables": {
			"INGST_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/fdln/domain/order/store-order/lake/2023-08-15-13-19-53/"
			}
		},
		"folder": {
			"name": "domain/order/store-order"
		},
		"annotations": []
	}
}