pipeline/pl_build_merch_replacement_product.json
{
	"name": "pl_build_merch_replacement_product",
	"properties": {
		"activities": [
			{
				"name": "ingest-replacement-products",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": "SELECT ecom_stor_id\n    ,cast(upc_cd as varchar(25)) as upc_cd\n    ,repl_prod_id\n    ,it_long_name_tx\n    ,it_size_cd\n    ,cast(audt_cr_dt as varchar(25)) as audt_cr_dt\nFROM cpt_it_rtlr_repl \nORDER BY repl_prod_id"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ecom_stor_id",
									"type": "Int32"
								},
								"sink": {
									"name": "ecom_stor_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "upc_cd",
									"type": "String"
								},
								"sink": {
									"name": "upc_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "repl_prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "repl_prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "it_long_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "it_long_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "it_size_cd",
									"type": "String"
								},
								"sink": {
									"name": "it_size_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_dt",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_infomix_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"IFX_TBL_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TBL_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_INGST_FLDR_PATH": {
								"value": "@variables('VAR_INGST_REPL_PROD_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_REPL_PROD_PATH",
					"value": {
						"value": "@concat('opco/'\n        , toLower(pipeline().parameters.PARAM_OPCO)\n        , '/domain/merch/product/retailer-cpt-it-rtlr-repl/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'HH-mm-ss')\n        )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mdm-replacement-products",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ingest-replacement-products",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.3:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_replacement_prod",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_REPL_PROD_LAKE_PATH": {
							"value": {
								"value": "@variables('VAR_INGST_REPL_PROD_PATH')",
								"type": "Expression"
							},
							"type": "string"
						},
						"VAL_CNT_THRESHOLD": {
							"value": {
								"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
								"type": "Expression"
							},
							"type": "int"
						},
						"LOGGING_LEVEL": {
							"value": {
								"value": "@pipeline().parameters.PARAM_LOGGING_LEVEL",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "retailer"
			},
			"PARAM_IFX_TBL_NM": {
				"type": "string",
				"defaultValue": "cpt_it_rtlr_repl"
			},
			"PARAM_LOGGING_LEVEL": {
				"type": "string",
				"defaultValue": "INFO"
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"VAR_INGST_REPL_PROD_PATH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "domain/merchandise/product"
		},
		"annotations": []
	}
}