pipeline/pl_build_merch_product_store.json
{
	"name": "pl_build_merch_product_store",
	"properties": {
		"activities": [
			{
				"name": "ingest-product-store",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": "SELECT ecom_stor_id\n    ,prod_id\n    ,cast(upc_cd as varchar(25)) as upc_cd\n    ,pr_scal_qy\n    ,unit_scal_qy\n    ,prom_end_dt\n    ,stck_on_hand_qy\n    ,stck_avg_sold_qy\n    ,it_shop_cd\n    ,srch_cd\n    ,it_purc_qy\n    ,actv_cd\n    ,actv_cd_upd_dt\n    ,old_actv_cd\n    ,sub_prod_id\n    ,sub_qy\n    ,uprm_actv_cd\n    ,mid_tail_vend_cd\n    ,it_long_name_tx\n    ,ltmo_it_fl\n    ,audt_upd_dt_tm\n    ,audt_upd_user_id\nFROM cpt_it_stor"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ecom_stor_id",
									"type": "Int32"
								},
								"sink": {
									"name": "ecom_stor_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "upc_cd",
									"type": "String"
								},
								"sink": {
									"name": "upc_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pr_scal_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "pr_scal_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "unit_scal_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "unit_scal_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "prom_end_dt",
									"type": "DateTime"
								},
								"sink": {
									"name": "prom_end_dt",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "stck_on_hand_qy",
									"type": "Int32"
								},
								"sink": {
									"name": "stck_on_hand_qy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "stck_avg_sold_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "stck_avg_sold_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "it_shop_cd",
									"type": "String"
								},
								"sink": {
									"name": "it_shop_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "srch_cd",
									"type": "String"
								},
								"sink": {
									"name": "srch_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "it_purc_qy",
									"type": "Int32"
								},
								"sink": {
									"name": "it_purc_qy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "actv_cd_upd_dt",
									"type": "DateTime"
								},
								"sink": {
									"name": "actv_cd_upd_dt",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "old_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "old_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "sub_prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "sub_prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "sub_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "sub_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "uprm_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "uprm_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mid_tail_vend_cd",
									"type": "Int16"
								},
								"sink": {
									"name": "mid_tail_vend_cd",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "it_long_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "it_long_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ltmo_it_fl",
									"type": "String"
								},
								"sink": {
									"name": "ltmo_it_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_upd_user_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_user_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_infomix_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"IFX_TBL_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TBL_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_INGST_FLDR_PATH": {
								"value": "@variables('VAR_INGST_PROD_STORE_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_PROD_STORE_PATH",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/merch/product/retailer-cpt-it-stor/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'HH-mm-ss')\n        )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mdm-product-store",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ingest-product-store",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_cpt_it_stor",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_CPT_IT_STOR_LAKE_PATH": {
							"value": {
								"value": "@variables('VAR_INGST_PROD_STORE_PATH')",
								"type": "Expression"
							},
							"type": "string"
						},
						"VAL_CNT_THRESHOLD": {
							"value": {
								"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
								"type": "Expression"
							},
							"type": "int"
						},
						"LOGGING_LEVEL": {
							"value": {
								"value": "@pipeline().parameters.PARAM_LOGGING_LEVEL",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "retailer"
			},
			"PARAM_IFX_TBL_NM": {
				"type": "string",
				"defaultValue": "cpt_it_stor"
			},
			"PARAM_LOGGING_LEVEL": {
				"type": "string",
				"defaultValue": "INFO"
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"VAR_INGST_PROD_STORE_PATH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "domain/merchandise/product"
		},
		"annotations": []
	}
}