pipeline/pl_build_stor_rtl_cpt_ecom_stor_ctl.json
{
	"name": "pl_build_stor_rtl_cpt_ecom_stor_ctl",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-rtl-cpt-ecom-stor-ctl-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_STOR_PATH",
					"value": {
						"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ingest-rtl-cpt-ecom-stor-ctl",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-rtl-cpt-ecom-stor-ctl-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": "SELECT\n  estr_ctl.ecom_stor_id,\n  estr_ctl.stor_stat_cd,\n  estr_ctl.stor_type_cd,\n  estr_ctl.ecom_stor_name_tx,\n  estr_ctl.pma_id,dc_id,\n  estr_ctl.opco_id,\n  estr_ctl.mgr_name_tx,\n  estr_ctl.mgr_mail_tx,\n  estr_ctl.cpn_vend_dc_id,\n  estr_ctl.cpn_vend_stat_cd,\n  estr_ctl.max_days_out_qy,\n  estr_ctl.time_diff_qy,\n  estr_ctl.root_menu_id,\n  estr_ctl.max_prev_ord_qy,\n  estr_ctl.max_pers_it_qy,\n  estr_ctl.max_pers_hdr_qy,\n  estr_ctl.cnsm_ord_lim_qy,\n  estr_ctl.mrch_ord_lim_qy,\n  estr_ctl.rtlr_card_actv_cd,\n  estr_ctl.rtlr_card_name_tx,\n  estr_ctl.rtlr_card_vald_tx,\n  estr_ctl.rtlr_card_asgn_cd,\n  estr_ctl.rtlr_card_asgn_tx,\n  estr_ctl.rtlr_card_trk_id,\n  estr_ctl.tot_svgs_actv_cd,\n  estr_ctl.tot_svgs_disp_tx,\n  estr_ctl.cpn_cart_qy,\n  estr_ctl.cpn_cart_crs_qy,\n  estr_ctl.cpn_cart_wkly_qy,\n  estr_ctl.cpn_cart_max_qy,\n  estr_ctl.cpn_shlf_cat_qy,\n  estr_ctl.cpn_shlf_max_qy,\n  estr_ctl.cpn_wkly_spec_qy,\n  estr_ctl.cpn_all_spec_qy,\n  estr_ctl.dpg_shlf_cat_qy,\n  estr_ctl.fav_psn_tab_tx,\n  estr_ctl.fav_purc_tab_tx,\n  estr_ctl.fav_rfsh_day_qy,\n  estr_ctl.new_ariv_days_qy,\n  estr_ctl.rte_eta_actv_cd,\n  estr_ctl.rte_eta_auth_cd,\n  estr_ctl.drvr_tip_allw_cd,\n  estr_ctl.epmt_feat_actv_cd,\n  estr_ctl.epmt_disc_actv_cd,\n  estr_ctl.epmt_disc_qy,\n  estr_ctl.epmt_time_ord_qy,\n  estr_ctl.uprm_actv_cd,\n  estr_ctl.it_trk_actv_cd,\n  estr_ctl.shlf_it_disp_sm_qy,\n  estr_ctl.shlf_it_disp_lg_qy,\n  estr_ctl.list_it_disp_sm_qy,\n  estr_ctl.list_it_disp_lg_qy,\n  estr_ctl.pa_actv_cd,\n  estr_ctl.pa_csv_req_cd,\n  estr_ctl.pa_cc_init_ord_qy,\n  estr_ctl.pa_pep_init_ord_qy,\n  estr_ctl.pa_cc_ord_days_qy,\n  estr_ctl.pa_cc_evry_ord_qy,\n  estr_ctl.pa_auth_days_qy,\n  estr_ctl.cnsm_fuel_qy,\n  estr_ctl.mrch_fuel_qy,\n  estr_ctl.unat_slot_allw_cd,\n  estr_ctl.brnd_ba_qy,\n  estr_ctl.cpn_ba_qy,\n  estr_ctl.pr_exp_day_out_qy,\n  estr_ctl.csi_actv_cd,\n  estr_ctl.elec_invc_cd,\n  estr_ctl.snal_mail_cpn_cd,\n  estr_ctl.web_domn_rtrn_tx,\n  estr_ctl.pup_srch_rad_qy,\n  estr_ctl.rvw_grp_cd,\n  estr_ctl.ord_stat_actv_cd,\n  estr_ctl.ord_stat_stop_qy,\n  estr_ctl.show_reg_pr_cd,\n  estr_ctl.one_way_dlv_fl,\n  estr_ctl.pod_bag_fl,\n  estr_ctl.one_way_dlv_fee_qy,\n  estr_ctl.svc_type_slct_fl,\n  estr_ctl.top_spec_actv_fl,\n  estr_ctl.load_cpn_actv_fl,\n  estr_ctl.stag_only_fl,\n  estr_ctl.drvr_rvw_allw_cd,\n  estr_ctl.ortc_stor_fl,\n  estr_xref.stor_id,\n  estr_ctl.audt_cr_dt_tm,\n  estr_ctl.audt_cr_id,\n  estr_ctl.audt_upd_dt_tm,\n  estr_ctl.audt_upd_id\nFROM retailer:cpt_ecom_stor_ctl estr_ctl\nINNER JOIN retailer:cpt_ecom_stor_xref estr_xref\nON estr_ctl.ecom_stor_id = estr_xref.ecom_stor_id"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ecom_stor_id",
									"type": "Int32"
								},
								"sink": {
									"name": "ecom_stor_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "stor_stat_cd",
									"type": "String"
								},
								"sink": {
									"name": "stor_stat_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "stor_type_cd",
									"type": "String"
								},
								"sink": {
									"name": "stor_type_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ecom_stor_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "ecom_stor_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pma_id",
									"type": "String"
								},
								"sink": {
									"name": "pma_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dc_id",
									"type": "String"
								},
								"sink": {
									"name": "dc_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "opco_id",
									"type": "String"
								},
								"sink": {
									"name": "opco_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mgr_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "mgr_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mgr_mail_tx",
									"type": "String"
								},
								"sink": {
									"name": "mgr_mail_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cpn_vend_dc_id",
									"type": "String"
								},
								"sink": {
									"name": "cpn_vend_dc_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cpn_vend_stat_cd",
									"type": "String"
								},
								"sink": {
									"name": "cpn_vend_stat_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "max_days_out_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "max_days_out_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "time_diff_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "time_diff_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "root_menu_id",
									"type": "String"
								},
								"sink": {
									"name": "root_menu_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "max_prev_ord_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "max_prev_ord_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "max_pers_it_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "max_pers_it_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "max_pers_hdr_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "max_pers_hdr_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cnsm_ord_lim_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "cnsm_ord_lim_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "mrch_ord_lim_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "mrch_ord_lim_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "rtlr_card_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rtlr_card_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rtlr_card_vald_tx",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_vald_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rtlr_card_asgn_cd",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_asgn_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rtlr_card_asgn_tx",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_asgn_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rtlr_card_trk_id",
									"type": "String"
								},
								"sink": {
									"name": "rtlr_card_trk_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tot_svgs_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "tot_svgs_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tot_svgs_disp_tx",
									"type": "String"
								},
								"sink": {
									"name": "tot_svgs_disp_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cpn_cart_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_cart_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_cart_crs_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_cart_crs_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_cart_wkly_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_cart_wkly_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_cart_max_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_cart_max_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_shlf_cat_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_shlf_cat_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_shlf_max_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_shlf_max_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_wkly_spec_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_wkly_spec_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_all_spec_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_all_spec_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "dpg_shlf_cat_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "dpg_shlf_cat_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "fav_psn_tab_tx",
									"type": "String"
								},
								"sink": {
									"name": "fav_psn_tab_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fav_purc_tab_tx",
									"type": "String"
								},
								"sink": {
									"name": "fav_purc_tab_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fav_rfsh_day_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "fav_rfsh_day_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "new_ariv_days_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "new_ariv_days_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "rte_eta_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "rte_eta_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rte_eta_auth_cd",
									"type": "String"
								},
								"sink": {
									"name": "rte_eta_auth_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "drvr_tip_allw_cd",
									"type": "String"
								},
								"sink": {
									"name": "drvr_tip_allw_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "epmt_feat_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "epmt_feat_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "epmt_disc_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "epmt_disc_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "epmt_disc_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "epmt_disc_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "epmt_time_ord_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "epmt_time_ord_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "uprm_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "uprm_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "it_trk_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "it_trk_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "shlf_it_disp_sm_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "shlf_it_disp_sm_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "shlf_it_disp_lg_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "shlf_it_disp_lg_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "list_it_disp_sm_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "list_it_disp_sm_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "list_it_disp_lg_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "list_it_disp_lg_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pa_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "pa_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pa_csv_req_cd",
									"type": "String"
								},
								"sink": {
									"name": "pa_csv_req_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pa_cc_init_ord_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pa_cc_init_ord_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pa_pep_init_ord_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pa_pep_init_ord_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pa_cc_ord_days_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pa_cc_ord_days_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pa_cc_evry_ord_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pa_cc_evry_ord_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pa_auth_days_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pa_auth_days_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cnsm_fuel_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "cnsm_fuel_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "mrch_fuel_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "mrch_fuel_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "unat_slot_allw_cd",
									"type": "String"
								},
								"sink": {
									"name": "unat_slot_allw_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "brnd_ba_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "brnd_ba_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cpn_ba_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "cpn_ba_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "pr_exp_day_out_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "pr_exp_day_out_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "csi_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "csi_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "elec_invc_cd",
									"type": "String"
								},
								"sink": {
									"name": "elec_invc_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "snal_mail_cpn_cd",
									"type": "String"
								},
								"sink": {
									"name": "snal_mail_cpn_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "web_domn_rtrn_tx",
									"type": "String"
								},
								"sink": {
									"name": "web_domn_rtrn_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pup_srch_rad_qy",
									"type": "Int32"
								},
								"sink": {
									"name": "pup_srch_rad_qy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "rvw_grp_cd",
									"type": "String"
								},
								"sink": {
									"name": "rvw_grp_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ord_stat_actv_cd",
									"type": "String"
								},
								"sink": {
									"name": "ord_stat_actv_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ord_stat_stop_qy",
									"type": "Int16"
								},
								"sink": {
									"name": "ord_stat_stop_qy",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "show_reg_pr_cd",
									"type": "String"
								},
								"sink": {
									"name": "show_reg_pr_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "one_way_dlv_fl",
									"type": "String"
								},
								"sink": {
									"name": "one_way_dlv_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pod_bag_fl",
									"type": "String"
								},
								"sink": {
									"name": "pod_bag_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "one_way_dlv_fee_qy",
									"type": "Decimal"
								},
								"sink": {
									"name": "one_way_dlv_fee_qy",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "svc_type_slct_fl",
									"type": "String"
								},
								"sink": {
									"name": "svc_type_slct_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "top_spec_actv_fl",
									"type": "String"
								},
								"sink": {
									"name": "top_spec_actv_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "load_cpn_actv_fl",
									"type": "String"
								},
								"sink": {
									"name": "load_cpn_actv_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "stag_only_fl",
									"type": "String"
								},
								"sink": {
									"name": "stag_only_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "drvr_rvw_allw_cd",
									"type": "String"
								},
								"sink": {
									"name": "drvr_rvw_allw_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ortc_stor_fl",
									"type": "String"
								},
								"sink": {
									"name": "ortc_stor_fl",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "stor_id",
									"type": "String"
								},
								"sink": {
									"name": "stor_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_cr_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_upd_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_upd_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_ifx_stor_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"PARAM_IFX_TB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TB_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_stor_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_STOR_LAKE_PATH": {
								"value": "@variables('VAR_INGST_STOR_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "record-count-checkpoint",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingest-rtl-cpt-ecom-stor-ctl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest-rtl-cpt-ecom-stor-ctl').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "mdm-stor-rtl-cpt-ecom-stor-ctl",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_mdm_rtl_cpt_ecom_store_ctl",
									"type": "NotebookReference"
								},
								"parameters": {
									"BASE_ADLS_CONN_STR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
											"type": "Expression"
										},
										"type": "string"
									},
									"SOURCE_LAKE_RELATIVE_PATH": {
										"value": {
											"value": "@variables('VAR_INGST_STOR_PATH')",
											"type": "Expression"
										},
										"type": "string"
									},
									"KEY_COL": {
										"value": {
											"value": "@pipeline().parameters.PARAM_KEY_COL",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARAM_VAL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									},
									"VAL_COL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARAM_VAL_COL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									},
									"VAL_COL_NAME": {
										"value": {
											"value": "@pipeline().parameters.PARAM_VAL_COL_NAME",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_COLS": {
										"value": {
											"value": "@string(pipeline().parameters.PARAM_VAL_COLS)",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_COL_VLS": {
										"value": {
											"value": "@string(pipeline().parameters.PARAM_VAL_COL_VLS)",
											"type": "Expression"
										},
										"type": "string"
									},
									"IS_DELTA": {
										"value": {
											"value": "@pipeline().parameters.PARAM_IS_DELTA",
											"type": "Expression"
										},
										"type": "bool"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "synsppdlinte201",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": false,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "store/retailer-cpt-ecom-store-ctl"
			},
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "retailer"
			},
			"PARAM_IFX_TB_NM": {
				"type": "string",
				"defaultValue": "cpt_ecom_stor_ctl"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "ecom_stor_id"
			},
			"PARAM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 2
			},
			"PARAM_VAL_COL_NAME": {
				"type": "string",
				"defaultValue": "opco_id"
			},
			"PARAM_VAL_COL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 1
			},
			"PARAM_VAL_COLS": {
				"type": "string",
				"defaultValue": [
					"ecom_stor_id"
				]
			},
			"PARAM_VAL_COL_VLS": {
				"type": "string",
				"defaultValue": "[ 'HNFD', 'FDLN', 'GNTL', 'GNTC', 'MRTN', 'STSH', 'PPOD','HANF']"
			},
			"PARAM_IS_DELTA": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"VAR_INGST_STOR_PATH": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/store/retailer-cpt-ecom-store-ctl/lake"
			}
		},
		"folder": {
			"name": "domain/store"
		},
		"annotations": []
	}
}