pipeline/pl_build_merch_deleted_product.json
{
	"name": "pl_build_merch_deleted_product",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGST_DELETE_PRODUCTS_PATH",
					"value": {
						"value": "@concat('opco/'\n        , toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/merch/product/retailer-cpt-past-purc-del/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'HH-mm-ss')\n        )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ingest-deleted-products",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "SELECT user_id\n        ,prod_id\n        ,audt_cr_dt_tm \nFROM cpt_past_purc_del",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "user_id",
									"type": "Int32"
								},
								"sink": {
									"name": "user_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_cr_dt_tm",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_infomix_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"IFX_TBL_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TBL_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_product_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_INGST_FLDR_PATH": {
								"value": "@variables('INGST_DELETE_PRODUCTS_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "mdm-deleted-products",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ingest-deleted-products",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.2:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_user_deleted_product",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_DELETED_PRODUCTS_LAKE_PATH": {
							"value": {
								"value": "@variables('INGST_DELETE_PRODUCTS_PATH')",
								"type": "Expression"
							},
							"type": "string"
						},
						"NUM_OF_PARTITION": {
							"value": {
								"value": "@pipeline().parameters.PARM_NUM_OF_PARTITION",
								"type": "Expression"
							},
							"type": "int"
						},
						"VAL_CNT_THRESHOLD": {
							"value": {
								"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
								"type": "Expression"
							},
							"type": "int"
						},
						"LOGGING_LEVEL": {
							"value": {
								"value": "@pipeline().parameters.PARAM_LOGGING_LEVEL",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false
					},
					"driverSize": "Small"
				}
			}
		],
		"parameters": {
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "retailer"
			},
			"PARAM_IFX_TBL_NM": {
				"type": "string",
				"defaultValue": "cpt_past_purc_del"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_LOGGING_LEVEL": {
				"type": "string",
				"defaultValue": "INFO"
			},
			"PARM_NUM_OF_PARTITION": {
				"type": "int",
				"defaultValue": 25
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"INGST_DELETE_PRODUCTS_PATH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "domain/merchandise/product"
		},
		"annotations": []
	}
}