pipeline/pl_build_merch_content_cpt_it_ntrn.json
{
	"name": "pl_build_merch_content_cpt_it_ntrn",
	"properties": {
		"activities": [
			{
				"name": "set-ingest-content-cpt-it-ntrn",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_MERCH_FLDR_PATH",
					"value": {
						"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ingest-merch-content-cpt-it-ntrn",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-content-cpt-it-ntrn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "SELECT prod_id,\n       it_ntrn_bx\nFROM content:cpt_it_ntrn;",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "prod_id",
									"type": "Int32"
								},
								"sink": {
									"name": "prod_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "it_ntrn_bx",
									"type": "String"
								},
								"sink": {
									"name": "it_ntrn_bx",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_ifx_merch_domain_content_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_IFX_DB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_DB_NM",
								"type": "Expression"
							},
							"PARAM_IFX_TB_NM": {
								"value": "@pipeline().parameters.PARAM_IFX_TB_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_content_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_CONTENT_LAKE_PATH": {
								"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "record-count-checkpoint",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingest-merch-content-cpt-it-ntrn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest-merch-content-cpt-it-ntrn').output.rowsCopied,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "mdm-content-cpt-it-ntrn",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_mdm_merch_cnt_cpt_it_ntrn",
									"type": "NotebookReference"
								},
								"parameters": {
									"BASE_ADLS_CONN_STR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
											"type": "Expression"
										},
										"type": "string"
									},
									"SOURCE_LAKE_RELATIVE_PATH": {
										"value": {
											"value": "@variables('VAR_INGST_MERCH_FLDR_PATH')",
											"type": "Expression"
										},
										"type": "string"
									},
									"KEY_COL": {
										"value": {
											"value": "@pipeline().parameters.PARAM_KEY_COL",
											"type": "Expression"
										},
										"type": "string"
									},
									"VAL_CNT_THRESHOLD": {
										"value": {
											"value": "@pipeline().parameters.PARAM_VAL_CNT_THRESHOLD",
											"type": "Expression"
										},
										"type": "int"
									},
									"IS_DELTA": {
										"value": {
											"value": "@pipeline().parameters.PARAM_IS_DELTA",
											"type": "Expression"
										},
										"type": "bool"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "synsppdlinte201",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_IFX_DB_NM": {
				"type": "string",
				"defaultValue": "content"
			},
			"PARAM_IFX_TB_NM": {
				"type": "string",
				"defaultValue": "cpt_it_ntrn"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "merch/content/cpt-it-ntrn"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_VAL_CNT_THRESHOLD": {
				"type": "int",
				"defaultValue": 2
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "prod_id"
			},
			"PARAM_IS_DELTA": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"VAR_INGST_MERCH_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/merch/content/content-cpt-it-ntrn/lake/"
			}
		},
		"folder": {
			"name": "domain/merchandise/content"
		},
		"annotations": []
	}
}