pipeline/pl_build_merch_product_content.json
{
	"name": "pl_build_merch_product_content",
	"properties": {
		"activities": [
			{
				"name": "ingest-prod-content",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp-ext-start-time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "@if(equals(pipeline().parameters.PARAM_DELTA_LOAD,true),concat('SELECT cont_id,\n             app_type_cd,\n             file_ext_cd,\n             file_loc_cd, \n             cont_name_tx,\n             file_name_tx,\n             cont_ttl_tx,\n             src_cd,\n             view_cd, \n             audt_cr_id,\n             audt_cr_dt,\n             audt_upd_id,\n             audt_upd_dt \n             FROM content:pit_cont_ctl \n             WHERE (audt_upd_dt > ''',formatDateTime(addDays(formatDateTime(activity('lkp-ext-start-time').output.firstRow.Prop_0,'MM-dd-yyyy'),-1),'MM-dd-yyyy'),''')'),\n\t'SELECT cont_id,\n             app_type_cd,\n             file_ext_cd,\n             file_loc_cd, \n             cont_name_tx,\n             file_name_tx,\n             cont_ttl_tx,\n             src_cd,\n             view_cd, \n             audt_cr_id,\n             audt_cr_dt,\n             audt_upd_id,\n             audt_upd_dt \n             FROM content:pit_cont_ctl')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cont_id",
									"type": "Int32"
								},
								"sink": {
									"name": "cont_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "app_type_cd",
									"type": "String"
								},
								"sink": {
									"name": "app_type_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "file_ext_cd",
									"type": "String"
								},
								"sink": {
									"name": "file_ext_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "file_loc_cd",
									"type": "String"
								},
								"sink": {
									"name": "file_loc_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cont_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "cont_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "file_name_tx",
									"type": "String"
								},
								"sink": {
									"name": "file_name_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cont_ttl_tx",
									"type": "String"
								},
								"sink": {
									"name": "cont_ttl_tx",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "src_cd",
									"type": "String"
								},
								"sink": {
									"name": "src_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "view_cd",
									"type": "String"
								},
								"sink": {
									"name": "view_cd",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_cr_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_cr_dt",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_cr_dt",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "audt_upd_id",
									"type": "String"
								},
								"sink": {
									"name": "audt_upd_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "audt_upd_dt",
									"type": "DateTime"
								},
								"sink": {
									"name": "audt_upd_dt",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_qts_ifx_merch_domain_content_domain",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_adls_merch_content_domain",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_CONTENT_LAKE_PATH": {
								"value": "@variables('VAR_INGST_FLDR_PATH_CTLG_CONT')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_INGST_FLDR_PATH_CTLG_CONT",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/',pipeline().parameters.PARAM_DOMAIN,'/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'hh-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update-btch-cntrl",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mdm-content-ctl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_update_btch_cntrl_fl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"START_TIME": {
							"value": "@convertFromUtc(activity('ingest-prod-content').ExecutionStartTime,'Central Standard Time')",
							"type": "Expression"
						},
						"END_TIME": {
							"value": "@convertFromUtc(activity('ingest-prod-content').ExecutionEndTime,'Central Standard Time')",
							"type": "Expression"
						},
						"RECORD_COUNT": {
							"value": "@activity('ingest-prod-content').output.rowsCopied",
							"type": "Expression"
						},
						"STATUS": {
							"value": "@activity('ingest-prod-content').status",
							"type": "Expression"
						},
						"PARAM_OPCO": {
							"value": "@toLower(pipeline().parameters.PARAM_OPCO)",
							"type": "Expression"
						},
						"PARAM_DOMAIN": {
							"value": "@pipeline().parameters.PARAM_DOMAIN",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp-ext-start-time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_az_adls_cntrl_fl_latest",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_OPCO": {
								"value": "@pipeline().parameters.PARAM_OPCO",
								"type": "Expression"
							},
							"PARAM_DOMAIN": {
								"value": "@pipeline().parameters.PARAM_DOMAIN",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "mdm-content-ctl",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ingest-prod-content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_mdm_merch_cnt_pit_cont_ctl",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_BASE_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_MERCH_CONTENT_LAKE_PATH": {
							"value": {
								"value": "@variables('VAR_INGST_FLDR_PATH_CTLG_CONT')",
								"type": "Expression"
							},
							"type": "string"
						},
						"VAL_CNT_THRESHOLD": {
							"value": {
								"value": "@pipeline().parameters.PARM_VAL_CNT_THRESHOLD",
								"type": "Expression"
							},
							"type": "int"
						},
						"KEY_COL": {
							"value": {
								"value": "@pipeline().parameters.PARAM_KEY_COL",
								"type": "Expression"
							},
							"type": "string"
						},
						"DELTA_LOAD": {
							"value": {
								"value": "@pipeline().parameters.PARAM_DELTA_LOAD",
								"type": "Expression"
							},
							"type": "bool"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "PPOD"
			},
			"PARAM_DOMAIN": {
				"type": "string",
				"defaultValue": "merch/content/content-pit-cont-ctl"
			},
			"PARAM_BASE_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARM_VAL_CNT_THRESHOLD": {
				"type": "string",
				"defaultValue": "5"
			},
			"PARAM_KEY_COL": {
				"type": "string",
				"defaultValue": "cont_id"
			},
			"PARAM_DELTA_LOAD": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"VAR_INGST_FLDR_PATH_CTLG_CONT": {
				"type": "String",
				"defaultValue": "opco/ppod/domain/merch/content/content-pit-cont-ctl/lake/"
			}
		},
		"folder": {
			"name": "domain/merchandise/content"
		},
		"annotations": []
	}
}