pipeline/pl_build_web_order.json
{
	"name": "pl_build_web_order",
	"properties": {
		"activities": [
			{
				"name": "ingest-web-orders",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "set-ingest-fldr-path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ingest_order_web_order_v1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"extractWebOrder": {
								"PARAM_OPCO": {
									"value": "@pipeline().parameters.PARAM_OPCO",
									"type": "Expression"
								}
							},
							"ingestWebOrders": {
								"PARAM_INGST_FLDR_PATH": {
									"value": "@variables('INGST_FLDR_PATH')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"continuationSettings": {
						"customizedCheckpointKey": {
							"value": "@pipeline().parameters.PARAM_CDC_CHK_POINT_KEY",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "mdm-source-order",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ingest-web-orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_web_order",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SOURCE_LAKE_PATH": {
							"value": {
								"value": "@variables('INGST_FLDR_PATH')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/stage/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/stage/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/stage/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "mdm-order-header",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "mdm-source-order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_web_order_header",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/stage/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_ORDER_HEADER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/master/order-header/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "mdm-order-item",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "mdm-order-header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_transform_web_order_item",
						"type": "NotebookReference"
					},
					"parameters": {
						"BASE_ADLS_CONN_STR": {
							"value": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONN_STR",
								"type": "Expression"
							},
							"type": "string"
						},
						"STAGE_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/stage/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_ORDER_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/master/order/')",
								"type": "Expression"
							},
							"type": "string"
						},
						"TARGET_ORDER_ITEM_PATH": {
							"value": {
								"value": "@concat('opco/',toLower(pipeline().parameters.PARAM_OPCO),'/domain/order/web-order/master/order-item/')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "synsppdlinte201",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "set-ingest-fldr-path",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGST_FLDR_PATH",
					"value": {
						"value": "@concat('opco/'\n        ,toLower(pipeline().parameters.PARAM_OPCO)\n        ,'/domain/order/web-order/lake/'\n        , formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd'),'-'\n        ,formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'HH-mm-ss')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "alert-ingestion-failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ingest-web-orders",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_slack_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"STATUS": "FAILURE",
						"URL": "https://hooks.slack.com/services/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",
						"HEADER": {
							"value": "@concat('Web Order Domain - '\n        , pipeline().parameters.PARAM_OPCO\n        , ' - FAILED')",
							"type": "Expression"
						},
						"BODY": {
							"value": "@concat( 'Web Order Domain Ingestion pipeline failed for'\n        , pipeline().parameters.PARAM_OPCO\n        ,' with the error message '\n        , activity('ingest-web-orders').error?.message)",
							"type": "Expression"
						},
						"FOOTER": {
							"value": "@concat('Pipeline : '\n        , pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "alert-mdm-order-failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mdm-source-order",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_slack_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"STATUS": "FAILURE",
						"URL": "https://hooks.slack.com/services/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",
						"HEADER": {
							"value": "@concat('Web Order Domain - '\n        , pipeline().parameters.PARAM_OPCO\n        , ' - FAILED')",
							"type": "Expression"
						},
						"BODY": {
							"value": "@concat( 'Web Order Domain MDM for source order failed for'\n        , pipeline().parameters.PARAM_OPCO\n        ,' with the error message '\n        , activity('mdm-source-order').error?.message)",
							"type": "Expression"
						},
						"FOOTER": {
							"value": "@concat('Pipeline : '\n        , pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "alert-mdm-order-header-failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mdm-order-header",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_slack_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"STATUS": "FAILURE",
						"URL": "https://hooks.slack.com/services/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",
						"HEADER": {
							"value": "@concat('Web Order Domain - '\n        , pipeline().parameters.PARAM_OPCO\n        , ' - FAILED')",
							"type": "Expression"
						},
						"BODY": {
							"value": "@concat( 'Web Order Domain MDM for order header failed for'\n        , pipeline().parameters.PARAM_OPCO\n        ,' with the error message '\n        , activity('mdm-order-header').error?.message)",
							"type": "Expression"
						},
						"FOOTER": {
							"value": "@concat('Pipeline : '\n        , pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "alert-mdm-order-item-failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mdm-order-item",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_slack_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"STATUS": "FAILURE",
						"URL": "https://hooks.slack.com/services/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",
						"HEADER": {
							"value": "@concat('Web Order Domain - '\n        , pipeline().parameters.PARAM_OPCO\n        , ' - FAILED')",
							"type": "Expression"
						},
						"BODY": {
							"value": "@concat( 'Web Order Domain MDM for order item failed for'\n        , pipeline().parameters.PARAM_OPCO\n        ,' with the error message '\n        , activity('mdm-order-item').error?.message)",
							"type": "Expression"
						},
						"FOOTER": {
							"value": "@concat('Pipeline : '\n        , pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"PARAM_OPCO": {
				"type": "string",
				"defaultValue": "FDLN"
			},
			"PARAM_ADLS_CONN_STR": {
				"type": "string",
				"defaultValue": "abfss://data-integration@sasynwpdlintnpdeve201.dfs.core.windows.net/"
			},
			"PARAM_CDC_CHK_POINT_KEY": {
				"type": "String",
				"defaultValue": "cdc-ord-hstry-chckpnt-ky-fdln"
			}
		},
		"variables": {
			"INGST_FLDR_PATH": {
				"type": "String",
				"defaultValue": "opco/fdln/domain/order/web-order/lake/2023-08-15-17-08-30/"
			}
		},
		"folder": {
			"name": "domain/order/web-order"
		},
		"annotations": []
	}
}